<div class="project_card">
    <div class="card__content">
        <img src="{{project.data.previewImage}}" alt="{{project.data.description}}"/>
        <div class="card__text">
            <h3>{{project.data.title}}</h3>
            <p>{{project.data.description}}
            <p><a href="{{project.url}}">learn more</a></p>
        </div>
    </div>
</div>