<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    {% endblock %}
</head>
<body>
    <div id="navbar">
        {% block navbar %}
        <div class="navbar__content">
            <a href="#" class="navbar__button">work</a>
            <a href="about.html" class="navbar__button">about me</a>
            <a href="resume.html" class="navbar__button">resume</a>
            <a href="writing.html" class="navbar__button">writing</a>
        </div>
        {% endblock %}
    </div>
    <div id="content">
        {% block content%}
        {{content | safe}}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer%}

        {% endblock %}
    </div>
</body>
</html>