---
layout: layouts/base.njk
title: "portfolio"
---
<div class="vbox content__content">
    <div class ="titlecard">
        <div class="titlecard__text">
            <p>UX Designer introduction text</p>
            <h2 class="copy">I care about great products blablabla copy here</h2>
            <h3>2 years of work experience</h3>
            <ul>
                <li>work experience 1</li>
                <li>work experience 2</li>
                <li>work experience 3</li>
            </ul>
            <div class="hbox">
                <a href="/" class="button">work</a>
                <a href="/about/" class="button">about me</a>
            </div>
        </div>
        <div class="titlecard__image">
            <canvas id="bg"></canvas>
        </div>
    </div>
    <h2>Work</h2>
    {% for project in collections.projects %}
    {% include "project-card.njk" %}
    {% endfor %}
</div>